@tailwind base;
@tailwind components;
@tailwind utilities;

$col-primary: #00c7ec;
$corner-radius: 5px;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color1: #ff6ec7; /* neon pink */
  --color2: #f3a683; /* soft coral */
  --color3: #82589f; /* deep purple */
  --color4: #63cdda; /* aqua */
  --color5: #546de5; /* vaporwave blue */
  --animation-speed: 60s;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width: 100vw;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-geist-sans), sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* firefox */
}

.scrollbar-thin::-webkit-scrollbar {
  width: 8px;
}

.scrollbar-thin::-webkit-scrollbar-track {
  background: #4b5563; /* gray-700 */
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background-color: #6b7280; /* gray-500 */
  border-radius: 8px;
  border: 2px solid transparent;
  background-clip: content-box;
}

/* support for Firefox */
.scrollbar-thin {
  scrollbar-width: thin;
  scrollbar-color: #6b7280 #4b5563;
}

.animated-rainbow {
  background: linear-gradient(
    90deg,
    var(--color1),
    var(--color2),
    var(--color3),
    var(--color4),
    var(--color5),
    var(--color1) /* loop back */
  );
  background-size: 800% 800%;
  animation: rainbow-shift var(--animation-speed) ease infinite;
}

@keyframes rainbow-shift {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.fast-rainbow {
  --animation-speed: 30s;
}

@keyframes gradientShift {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.gradient-background {
  --size: 1250px;
  --speed: 10s;
  width: var(--size);
  height: var(--size);
  --easing: cubic-bezier(0.8, 0.2, 0.2, 0.8);
  filter: blur(calc(var(--size) / 5));
  background-image: linear-gradient(hsl(222, 84%, 60%), hsl(164, 79%, 71%));
  animation: rotate var(--speed) var(--easing) alternate infinite;
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  position: fixed;
  top: 25%;
  left: 30%;
  transform: translate(-50%, -50%);
  z-index: -1;
  pointer-events: none;
}

.gradient-background-variation {
  --size: 650px;
  top: 10%;
  left: -20%;
  --speed: 12s;
  width: var(--size);
  height: var(--size);
  --easing: cubic-bezier(0.8, 0.3, 0.3, 0.8);
  filter: blur(calc(var(--size) / 7.5));
  background-image: linear-gradient(
    45deg,
    #ff6ec7,  /* neon pink */
    #f3a683,  /* soft coral */
    #82589f,  /* deep purple */
    #63cdda,  /* aqua */
    #546de5   /* vaporwave blue */
  );
  animation: rotate var(--speed) var(--easing) alternate infinite;
  border-radius: 40% 60% 60% 40% / 40% 40% 60% 60%;
  position: fixed;
  transform: translate(-50%, -50%);
  z-index: -1;
  pointer-events: none;
}

@media (min-width: 481px) and (max-width: 768px) {
  .gradient-background-variation {
    --size: 850px;
    top: 20%;
    left: 0%;
  }
}

@media (min-width: 769px) and (max-width: 1279px) {
  .gradient-background-variation {
    --size: 1000px;
    top: 15%;
    left: 0%;
  }
}

@media (min-width: 1280px) and (max-width: 1525px) {
  .gradient-background-variation {
    --size: 1500px;
    top: 15%;
    left: 0%;
  }
}

@media (min-width: 1526px) {
  .gradient-background-variation {
    --size: 2000px;
    top: 25%;
    left: 0%;
  }
}

.invert {
  filter: invert(1);
}

.text-link {
  position: relative;
  display: inline-block;
}

.text-link::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  border-radius: 2px;
  background-color: #0bed9e98;
  bottom: 0px;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.text-link:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

.button-effect {
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 0 0 transparent;
  transition: all 0.2s ease-in;

  &:hover {
    box-shadow: 0 0 0px 0 rgba(255, 255, 255, 0.5);
    transition: all 0.2s ease-out;

    &:before {
      animation: shine 0.5s linear;
    }
  }

  &:active {
    box-shadow: 0 0 0 0 transparent;
    transition: box-shadow 0.2s ease-in;
  }

  &:before {
    content: '';
    display: block;
    width: 0px;
    height: 86%;
    position: absolute;
    top: 7%;
    left: 0%;
    opacity: 0;
    background: white;
    box-shadow: 0 0 15px 3px white;
    transform: skewX(-20deg);
  }
}

@keyframes shine {
  from {
    opacity: 0;
    left: 0%;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
    left: 100%;
  }
}

.no-hover:hover {
  box-shadow: none !important;
  background-color: inherit !important;
  transition: none !important;
}